@media projection {
    .screenx {
        display: none;
    }
    .projectionx {
        display: block;
        padding: 65px 200px 0px 24px;
        page-break-after: always;
    }
    bodyx {
        background: #47557b url(operashowbg.jpg) fixed;
        color: #fff;
        font-family: 'trebuchet ms', arial, sans-serif;
        font-size: 150%;
        margin: 0;
        padding: 0;
    }
}

TD {
    font-family: "Arial", "Helvetica", Sans-serif;
}

.SectionHeader {
    background-color: rgb(255, 255, 204);
    border-color: black;
    border-style: solid;
    border-width: thin;
    font-size: 14pt;
    font-weight: bold;
    margin-left: 0;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}

PRE.SourceCode2 {
    background-color: #e0ffff;
    border-color: silver;
    border-style: outset;
    border-width: medium;
    white-space: pre;
}

PRE.SourceCode EM {
    color: #9933cc;
    font-style: normal;
    white-space: pre;
}

PRE.SourceCode {
    background-color: #ffffe0;
    border-color: silver;
    border-style: outset;
    border-width: medium;
    font-family: "Courier", monospace;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 20px;
    white-space: pre;
}

P.chatuser {
    color: #3366cc;
    font-weight: bold;
    vertical-align: top;
}

P.chatquestionpresented {
    background-color: #dddddd;
    font-weight: bold;
    vertical-align: top;
}

P.chatpublicmsg {
    font-weight: normal;
    padding: 0 0 20px;
    vertical-align: top;
}

P.chateditor {
    color: red;
    padding: 0 0 10px;
}

P.chataction {
    font-style: italic;
    vertical-align: top;
}

P.TechNote {
    background-color: #e0ffff;
    border-color: silver;
    border-style: outset;
    border-width: medium;
    font-weight: normal;
    padding: 2px 5px;
}

H3 {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 11pt;
    font-weight: bold;
    line-height: 10pt;
    text-decoration: none;
}

H2 {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 14pt;
    font-weight: bold;
    line-height: 14pt;
    text-decoration: none;
}

H1 {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 18pt;
    font-weight: bold;
    line-height: 18pt;
    padding: 10px 0 0;
    text-decoration: none;
}

BODY {
    background: #ffffff;
    margin-left: 20 px;
    margin-right: 20 px;
}

B.Help {
    background-color: gray;
    color: white;
}

A:hover {
    color: #cc3300;
}

.webDirectoryLink {
    color: #3366cc;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 0.8em;
    text-decoration: underline;
}

.webDirectoryCategoryLink {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 0.8em;
    text-decoration: none;
}

.webDirectoryCatHead {
    color: #ffffff;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 0.9em;
    text-decoration: none;
}

.vspace5 {
    padding: 5px 0 0;
}

.visibility {
    color: #ff0000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
}

.tuser {
    background-color: white;
    color: blue;
}

.ttitle {
    background-color: #dddddd;
    color: black;
    font-weight: bold;
}

.tthis {
    background-color: red;
    color: white;
    font-weight: bold;
    line-height: 1;
    vertical-align: top;
}

.tother {
    background-color: blue;
    color: white;
    font-weight: bold;
    line-height: 1;
    vertical-align: top;
}

.tmine {
    background-color: #c71585;
    color: black;
    font-weight: bold;
}

.title3 {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
}

.thi {
    background-color: #dddddd;
}

.textAdLink {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.textAdCell {
    font-size: 0.8em;
}

.searchCell {
    font-size: 11px;
    font-weight: bold;
}

.rightSidebarLink {
    color: #000000;
    text-decoration: none;
}

.rightSidebarHeading {
    background: #3366cc;
    color: #ffffff;
    font-size: 10pt;
    font-weight: bold;
}

.rightSidebarCell {
    background: #dddddd;
    color: #000000;
    font-size: 10pt;
    font-weight: bold;
}

.presentLocation {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.logoCell {
    background: #000000;
}

.logoBar {
    background: #000000;
}

.loginLinkCell {
    background: #3366cc;
    font-size: 0.8em;
    font-weight: bold;
}

.loginLink {
    color: #ffffff;
    text-decoration: none;
}

.loginStd {
    text-align: right;
}

.loginReq {
    color: blue;
    font-weight: bold;
    text-align: right;
}

.login_std {
    text-align: right;
}

.login_req {
    color: blue;
    font-weight: bold;
    text-align: right;
}

.locationLink {
    color: #000000;
    text-decoration: underline;
}

.localLinkCell {
    background: #3366cc;
    color: #ffffff;
    font-size: 9pt;
}

.localLink {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.leftSidebarText {
    color: #000000;
    font-size: 9pt;
    font-weight: normal;
}

.leftSidebarLink {
    color: #000000;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
}

.leftSidebarHeading {
    color: #3366cc;
    font-size: 12pt;
    font-weight: bold;
}

.leftSidebarCell {
    background: #dddddd;
    font-size: 0.8em;
}

.heading3 {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 11pt;
    font-weight: bold;
    line-height: 10pt;
    text-decoration: none;
}

.heading2 {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 14pt;
    font-weight: bold;
    line-height: 14pt;
    text-decoration: none;
}

.heading1 {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 18pt;
    font-weight: bold;
    line-height: 18pt;
    padding: 10px 0 0;
    text-decoration: none;
}

.globalNavBar {
    background: #dddddd;
}

.globalLinkCell {
    background: #dddddd;
    font-size: 0.8em;
}

.globalLink {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.fineprint {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 8pt;
    font-weight: normal;
    text-decoration: none;
}

.directoryStuff {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 0.8em;
}

.directoryLink {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 9pt;
    text-decoration: none;
}

.directoryCategory {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 10pt;
    text-decoration: underline;
}

.date3 {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 9pt;
    font-weight: normal;
    line-height: 10pt;
    margin-top: 3pt;
    text-decoration: none;
}

.copyrightLink {
    color: #000000;
    text-decoration: none;
}

.copyrightCell {
    background: #dddddd;
    font-size: 7pt;
}

.contentshortDescription {
    color: #000000;
    font-size: 9pt;
    font-weight: normal;
}

.contentTableCell {
    background: #ffffff;
    font-size: 0.8em;
}

.contentTable {
    background: #ffffff;
}

.contentStoryLink {
    color: #3366cc;
}

.contentStoryHeadingCell {
    background: #dddddd;
}

.contentStoryHeading {
    color: #000000;
    font-size: 11pt;
    font-weight: normal;
    text-decoration: none;
}

.contentStoryByline {
    color: #000000;
    font-size: 9pt;
    font-style: italic;
    font-weight: normal;
}

.contentSectionHeading {
    color: #000000;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
}

.contentRule {
    background: #3366cc;
}

.contentMoreLink {
    color: #3366cc;
    font-weight: bold;
}

.contentHat {
    color: #000000;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
}

.contentDevNewsStoryHeading {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 10pt;
    font-weight: normal;
    text-decoration: none;
}

.contentArticleTypeIndex {
    color: #3366cc;
    font-size: 0.7em;
}

.bottomlink {
    color: #3366cc;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 10pt;
    font-weight: normal;
    text-decoration: none;
}

.body3 {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 10pt;
    font-weight: normal;
    line-height: 11pt;
    text-decoration: none;
}

.blueHeading2 {
    color: #003399;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
}

.bigBlue {
    color: #013399;
    font-size: 14pt;
    font-weight: bold;
    text-decoration: none;
}

.abstract {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 10pt;
    font-style: italic;
    font-weight: normal;
    line-height: 11pt;
    padding: 10px;
    text-decoration: none;
}


/* new classes - added 01/11/01 rare medium */

.whiteLink {
    color: #ffffff;
    font-size: 10pt;
    text-decoration: none;
}

.whiteLinkB {
    color: #ffffff;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
}

.whiteLinkSmall {
    color: #ffffff;
    font-size: 9pt;
    text-decoration: none;
}

.yellowLinkSmall {
    color: #ffdf00;
    font-size: 9pt;
    font-weight: bold;
    text-decoration: none;
}

.whiteLinkVerySmall {
    color: #ffffff;
    font-size: 8pt;
    text-decoration: none;
}

.newBody {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 9pt;
    font-weight: normal;
    line-height: 11pt;
    text-decoration: none;
}

.newTitle {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 11pt;
    font-weight: bold;
    text-decoration: none;
}

.newDate {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 8pt;
    font-weight: normal;
    line-height: 10pt;
    margin-top: 3pt;
    text-decoration: none;
}

.newHeading {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 10pt;
    font-weight: bold;
    line-height: 10pt;
    text-decoration: none;
}

.bigBlack {
    color: #000000;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-decoration: none;
}